<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<p><%= @post.price %></p>
<%= link_to "Supprimer le post", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer #{@post.title} ?"} %>
